<h1>hola</h1>
<h2>hola soy {{persona}}</h2>

<div class="row">
<p class="text-end"Hola {{usuario}}> ! <a class="btn btn-danger"
 href="/admin/login/logout">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
</p>
</div>